@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;   
}

h3, h4 {
    font-weight: 400;
    color: rgb(65, 65, 65)
}

.App {
    transition: all 0.5s ease;
}

.playlist-active {
    margin-left: 17%;
}
// #root {
//     background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
// }

@import './player';
@import './song';
@import './playlist';
@import './nav';